@font-face {
  font-family: "Plus Jakarta Sans";
  src: local("PlusJakartaSans-Regular"), url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: local("PlusJakartaSans-Italic"), url("../fonts/PlusJakartaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBMPlexMono-Light"), url("../fonts/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBMPlexMono-LightItalic"), url("../fonts/IBMPlexMono-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}